// Контрольные точки;
$breakpointsPhone:             400px;
$breakpointsPhoneWide:         480px;
$breakpointsPhablet:           540px;
$breakpointsTabletSmall:       640px;
$breakpointsTablet:            768px;
$breakpointsTabletWide:        992px;
$breakpointsDesktop:           1200px;
$breakpointsDesktopWideMd:     1400px;
$breakpointsDesktopWide:       1600px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

// Grids
$grid-columns:               12 !default;
$grid-grid-gutter-xs:     16px !default;
$grid-grid-gutter-sm:     30px !default;
$grid-grid-gutter-md:     30px !default;
$grid-grid-gutter-lg:     30px !default;
$grid-grid-gutter-xl:     30px !default;
$grid-grid-gutter-xxl:     40px !default;
$grid-gutter-widths: (
        xs: $grid-grid-gutter-xs,
        sm: $grid-grid-gutter-sm,
        md: $grid-grid-gutter-md,
        lg: $grid-grid-gutter-lg,
        xl: $grid-grid-gutter-xl,
        xxl: $grid-grid-gutter-xxl
) !default;
$container-max-widths: (
        xs: 100%,
        sm: 540px,
        md: 640px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
) !default;


// Цвета на сайте
$blueDark: #1D1CC2;
$blueLight: #4ABEFF;
$yellow: #FFD939;
$pink: #FF2970;
$white: #FFF;
$black: #000;
$grayLight: scale-color($black,$lightness:86.5%); // DDD

$baseFS: 15px !default;
$baseLH: ( 19px / $baseFS );
$baseFW: 400;
$baseFSt: normal;
$baseFF: 'Montserrat',Arial,Helvetica,sans-serif;;
$baseFClr: $black;
$baseBg: $white;


$baseLinkColor: $blueLight;



